body {
  background: ghostwhite;
  margin: 20px;
  font-family: monospace;
}

.control-button {
  margin-right: 10px;
  width: 100px;
  font-size: 20px;
  cursor: pointer;
  font-family: inherit;
}

.control-button.save-button {
  width: 150px;
  float: right;
  margin-top: 20px;
}

.control-button:disabled {
  cursor: default;
}

.control-button, .pattern-button, .controls {
  box-shadow: 0px 0px 5px #222;
}

.board {
  border: 2px solid black;
  padding: 5px;
  display: inline-block;
}

.board-stuff {
  float: left;
  position: relative;
}

.container {
  width: 1000px;
  margin: auto;
}

.controls {
  float: right;
  background: darkgray;
  padding: 15px;
  border-radius: 5px;
  margin: 15px;
}

.board.paused {
  opacity: .6;
}

.row {
  display: block;
  line-height: 0px;
}

.cell-container {
  width: 13px;
  height: 13px;
  display: inline-block;
}

.cell {
  width: 12px;
  height: 12px;
  background: lightgray;
  display: inline-block;
  margin: 0.5px 0.5px;
  line-height: 120px;
  position: relative;
}

.cell.life {
  background: black;
  text-align: center;
}

.eraser {
  cursor: url('../images/eraser.png'), auto;
}

.eraser .cell.life:hover {
  background: white;
  opacity: 1;
}

.eraser .cell:hover::after {
  content: '-';
  opacity: 1;
  font-size: 15px;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  line-height: 12px;
  vertical-align: middle;
  font-weight: bold;
  opacity: .4;
  border-radius: 100%;
  background: red;
  color: red;
}

.eraser .cell.life:hover::after {
  opacity: 1;
}

.cell.temp-life {
  background: white;
}

.cell.life.temp-life {
  background: gray;
}

.pattern-buttons {
  display: block;
  width: 270px;
  margin: auto;
  text-align: center;
}

.pattern-button {
  font-family: inherit;
  font-size: 20px;
  background: white;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
  margin: 2px;
  display: inline;
}

.pattern-button:focus {
  outline: 0;
}

.pattern-button.selected {
  background: lightblue;
  color: white;
}

.page-header {
  font-size: 40px;
  margin: auto;
  margin-bottom: 25px;
  width: 800px;
  font-weight: bold;
}

.clearfix::after {
  clear: both;
  content: '';
  display: block;
}

.population {
  margin-top: 10px;
  font-size: 16px;
}
