body {
  background: ghostwhite;
}

.row {
  display: inline-grid;
}

.cell {
  width: 12px;
  height: 12px;
  background: lightgray;
  display: inline-block;
  margin: 0.5px 0.5px;
  line-height: 120px;
}

.cell.life {
  background: green;
}
